<?xml version="1.0"?>
<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
	</include>

    <!-- load the robot in gazebo -->
	<param name="robot_description" command="xacro --inorder '$(find my_robot_gazebo)/urdf/my_robot.urdf.xacro'"/>
	
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" 
		args="-urdf -model myrobot -param robot_description -z 0.9">
	</node>
 
  	<!-- load the controllers -->
    <rosparam file="$(find controller)my_robot_control.yaml" command="load"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/crobot" args="joint_state_controller
										joint1_position_controller
										joint2_position_controller
										joint3_position_controller
										joint4_position_controller
										joint5_position_controller
										joint6_position_controller
										joint7_position_controller
										joint8_position_controller"/>

	<!-- load the movescript -->

	<node name="movescript" pkg="scripts" type="movescript.py" output="screen"/>

</launch>